body{
    background-color:teal;
}

.divTable{
	display: table;
	width: 100%;
  text-align: center;
}
.header {
  text-align: center;
}
.divTableRow {
	display: table-row;
  text-align: center;
}
.divTableHeading {
	background-color: ;#4333FF
	display: table-header-group;
  text-align: center;
}
.divTableCell, .divTableHead {
	border: 1px solid #5D6D7E;
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
}
.divTableHeading {
	background-color: #4333FF;
	display: table-header-group;
	font-weight: bold;
  text-align: center;
}
.divTableFoot {
	background-color: #4333FF;
	display: table-footer-group;
	font-weight: bold;
  text-align: center;
}
.divTableBody {
	display: table-row-group;
  text-align: center;
}
